<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>
</head>

<body>
    <h1>오늘하루 파이팅!</h1>
    <img src="https://gongu.copyright.or.kr/gongu/wrt/cmmn/wrtFileImageView.do?wrtSn=13329048&filePath=L2Rpc2sxL25ld2RhdGEvMjAyMi8yMS9DTFMxMDAwNC9iOWE3MzcwYy1jMTA3LTRlMTgtOGUzNi1jNTEzNDViNTAxMDE=&thumbAt=Y&thumbSe=b_tbumb&wrtTy=10004", width="250" height="252" style=" display:block; margin-left: auto; margin-right: auto;" loop=infinite>
    <button type="button" class="sign-up-button" style=" display:block; margin-left: auto; margin-right: auto;" onclick="location.href='/home'">퇴근ㄱ?</button>

</body>

</html>
  
